
h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}
.fond{
    background-image: url(pexels-budgeron-bach-5157219.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.brillant{
    color: aquamarine;
    text-shadow: 0 0 5px greenyellow , 0 0 greenyellow, 0 0 20px aqua;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}
p {
    color: white;
}
ul li {
    color: white;
 }
*{
    margin: 0;
}
.block{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 500px;
    margin: auto;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carte{
    position: relative;
    display: inline-block;
    width: 300px;
}


.image{
    width: 100%;
    border-radius: 20px; 
}

.texte{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
 .navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: black;
    overflow: hidden;
 }
 .navbar a {
    color: aquamarine;
    text-decoration: none;
    padding: 15px;
    display: block;
 }
 .navbar li {
    float: right;
 }
 .navbar a:hover{
    background-color: gray;
}
.footer{
   background: #111;
   color: white;
   text-align: center;
   padding: 25px;
   font-size: 14px;
}
 .effet{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.effet:hover{
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}
 p {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} 
P:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}


 